/* GENERAL STYLES */
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/roboto/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/roboto/roboto-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/roboto/roboto-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/roboto/roboto-v20-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./assets/roboto/roboto-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/roboto/roboto-v20-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/roboto/roboto-v20-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/roboto/roboto-v20-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/roboto/roboto-v20-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/roboto/roboto-v20-latin-italic.woff") format("woff"),
    /* Modern Browsers */ url("./assets/roboto/roboto-v20-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/roboto/roboto-v20-latin-italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/roboto/roboto-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/roboto/roboto-v20-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/roboto/roboto-v20-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./assets/roboto/roboto-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("./assets/roboto/roboto-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/roboto/roboto-v20-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("./assets/roboto/roboto-v20-latin-500italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/roboto/roboto-v20-latin-500italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/roboto/roboto-v20-latin-500italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/roboto/roboto-v20-latin-500italic.woff") format("woff"),
    /* Modern Browsers */ url("./assets/roboto/roboto-v20-latin-500italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/roboto/roboto-v20-latin-500italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/roboto/roboto-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/roboto/roboto-v20-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/roboto/roboto-v20-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./assets/roboto/roboto-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./assets/roboto/roboto-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/roboto/roboto-v20-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/roboto/roboto-v20-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/roboto/roboto-v20-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/roboto/roboto-v20-latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/roboto/roboto-v20-latin-700italic.woff") format("woff"),
    /* Modern Browsers */ url("./assets/roboto/roboto-v20-latin-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/roboto/roboto-v20-latin-700italic.svg#Roboto") format("svg"); /* Legacy iOS */
}

html {
}

html,
body,
body > div,
div#joplin-plugin-content {
  height: 100%;
}

a {
  color: var(--joplin-url-color);
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

#container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
  width: 100%;
}

#fm-title {
  align-items: center;
  display: flex;
  padding: 0 5px;
}
.title {
  font-weight: 700;
}

#fm-container {
  display: flex;
  width: 100%;
}
#fm-inner {
  padding: 0 5px;
  width: 100%;
}

table {
  border-spacing: 0 2px;
  width: 100%;
}
tr {
  vertical-align: top;
}
tr:hover td {
  background: var(--joplin-background-color-hover3) !important;
}
td {
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  padding: 4px 8px;
}

td.key {
  font-weight: 500;
  text-align: right;
}
td.value {
}

ul {
  margin: 0;
  padding: 0;
  list-style: inside;
  list-style-type: "· ";
}

/* #tab {
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
  display: flex;
  padding: 0 8px;
  transition: 0.2s;
}
#tab .fas {
  margin-left: auto;
  margin-right: 0;
  padding: 2px;
  visibility: hidden;
}
#tab:hover .fas {
  visibility: visible;
}
.new {
  font-style: italic;
}
.tab-inner {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}
.tab-inner > input {
  margin: 0;
  margin-right: 3px;
}
.tab-title {
  overflow: hidden;
  padding-right: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

/* #controls {
  align-items: center;
  display: flex;
  float: right;
  padding: 0 5px;
  margin-left: auto;
  margin-right: 0;
}
#controls .fas {
  align-items: center;
  display: flex;
  font-size: 14.4px;
  height: 26px;
  justify-content: center;
  max-width: 26px;
  min-height: 26px;
  opacity: 0.8;
  width: 26px;
}
#controls .fas:hover {
  opacity: 1;
} */

/* #infobar-container {
  display: flex;
  float: left;
  height: var(--infobarHeight);
  width: 100%;
}
#infobar-container .fas {
  font-size: 1.3em;
}
#infobar-container .fas.fa-book {
  font-size: 1.2em;
} */

/* .navigation-icons {
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
  margin: auto 0;
  min-width: fit-content;
  padding: 0 4px;
}
.navigation-icons a:hover {
  background: var(--joplin-background-color-hover3);
  border-radius: 3px;
}
.navigation-icons .fas {
  line-height: calc(var(--infobarHeight) - 2px);
  min-width: 12px;
  padding: 0 4px;
} */

/* .checklist-state {
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
  margin: auto 0;
  min-width: fit-content;
  padding: 0 4px;
}
.checklist-state-inner {
  align-items: center;
  display: flex;
  line-height: calc(var(--infobarHeight) - 2px);
}
.checklist-state-text {
  align-items: center;
  display: flex;
  margin: 0 2px;
  padding: 0 4px;
}
.checklist-state-text > .fas {
  padding-right: 4px;
}
.checklist-state-text.completed {
  background: #46ba61;
  color: white;
  border-radius: 3px;
} */

/* .breadcrumbs-icon {
  margin: auto 0;
  padding-left: 8px;
}
#breadcrumbs-container {
  display: flex;
  float: left;
  overflow-x: overlay;
  overflow-y: hidden;
  width: 100%;
}
.breadcrumb {
  display: flex;
  height: var(--infobarHeight);
  min-width: 36px;
}
.breadcrumb:last-of-type .fas {
  display: none;
}
.breadcrumb-inner {
  align-items: center;
  display: flex;
  line-height: calc(var(--infobarHeight) - 2px);
  width: 100%;
}
.breadcrumb-inner a:hover {
  background: var(--joplin-background-color-hover3);
  border-radius: 3px;
}
.breadcrumb-inner .fas {
  margin-left: auto;
  margin-right: 0px;
}
.breadcrumb-title {
  margin: 0 2px;
  overflow: hidden;
  padding: 0 4px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
} */

/* SCROLLBARS */
::-webkit-scrollbar {
  height: 4px;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
