/* GENERAL STYLES */
html {
  --padding: 0 5px;
  --title-height: var(--joplin-toolbar-height);
  --hover-color: var(--joplin-background-color-hover3);
}

html,
body,
body > div,
div#joplin-plugin-content {
  height: 100%;
}

/* LINKS */
a {
  color: var(--joplin-url-color);
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

/* ICONS */

/* MAIN CONTAINER */
#container {
  height: 100%;
  width: 100%;
}

/* PANEL TITLE */
#fm-title {
  align-items: center;
  display: flex;
  height: var(--title-height);
  padding: var(--padding);
}
.title {
  font-weight: 700;
}

.controls {
  margin-left: auto;
  height: var(--title-height);
}
.controls > .fas {
  align-items: center;
  border-radius: 4px;
  color: var(--joplin-color3);
  cursor: pointer;
  display: inline-grid;
  height: 100%;
  margin: auto;
  min-width: var(--title-height);
  text-align: center;
}
.controls > .fas:hover {
  background: var(--hover-color);
}

/* YAML DATA CONTAINER */
#fm-container {
  height: 100% !important;
  overflow-y: auto;
  width: 100%;
}
#fm-inner {
  padding: var(--padding);
}

/* YAML ERRORS/WARNINGS */
.alert {
  border-radius: 5px;
  padding: 5px;
}
.alert-error {
  background: var(--joplin-color-error2);
  color: var(--joplin-search-marker-color);
  /* color: var(--joplin-color-bright); */
  /* border: 1px solid var(--joplin-color-error); */
}
.alert-warning {
  background: var(--joplin-search-marker-background-color);
  color: var(--joplin-search-marker-color);
  /* background: var(--joplin-warning-background-color); */
  /* color: var(--joplin-color-warn); */
  /* border: 1px solid var(--joplin-color-warn); */
}

/* FRONT MATTER DATA TABLE */
table {
  border-spacing: 0 2px;
  width: 100%;
}
tr {
  vertical-align: top;
}
tr:hover th,
tr:hover td {
  background: var(--hover-color) !important;
}
th {
  font-weight: 500;
  text-align: right;
}
th,
td {
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  padding: 4px 8px;
}

ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

/* SCROLLBARS */
::-webkit-scrollbar {
  height: 4px;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
